<section class="orders-show">
  <header class="page-header">
  <h1>Admin Dashboard</h1>
  </header>
  
  <%= link_to 'Manage products', {controller: 'products'}, class: 'btn btn-info' %>
  <h3>Number of Products: <%= @products.to_a.length%> </h3> 
  <h3>Number of Categories: <%=@categories.to_a.length%> </h3> 


</section>