// Vendor
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

// App
@import 'products';

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 300px;

  input[type='submit'] {
    margin: 2em;
  }
}
